{#
/**
 * @file
 * Hometrail's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-wrapper">
  <div id="page">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3 left_logo"><a href="https://virtualtrailwalker.oxfamindia.org/"><img
                src="{{ path('<front>') }}themes/custom/hometrail/images/logo.png"></a></div>
          <div class="col-md-6 center stir"><h2>let’s stir things up!</h2></div>
          <div class="col-md-2 right_logo"><img src="{{ path('<front>') }}themes/custom/hometrail/images/right_logo.png"></div>
        </div>
      </div>
    </header>
    <div class="slider_par bg_part">
      <div class="container">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <img src="{{ path('<front>') }}themes/custom/hometrail/images/big-slide.jpg" class="d-block w-100" alt="COVID-19">

              <div class="caption">
                <a href="#" class="donate_btn"><span><i class="fas fa-user"></i></span> trailadmin</a>
                <a href="{{ path('<front>') }}/user/logout" class="donate_btn"><span><i class="fas fa-key"></i></span> Log-out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
    <div id="main" class="layout-main clearfix">

      <main id="content" class="column main-content upload_details" role="main">

        <section class="section dashboard">
          <a id="main-content" tabindex="-1"></a>
          <h2>Your Virtual Trailwalker Dashboard</h2>
          <h3>Upload Your Screenshot</h3>
          <p><strong>Important:</strong> Dashboard will be active only from 6 August 2020</p>
          <ul>
            <li>You can upload one screenshot per day</li>
            <li>Maximum permissible size per screenshot 50kb (will be auto-resized)</li>
            <li>Km values accepted in whole numbers only — choose the closest number in case of decimal values</li>
            <li>Data/screenshot once submitted, cannot be edited or deleted</li>
            <li>A confirmation email will be sent to you after submission</li>
            <li>Access to the dashboard is active till 15 August 2020 (11:59 pm IST)</li>
          </ul>


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'region' -->
          <!-- FILE NAME SUGGESTIONS:
             * region--content.html.twig
             x region.html.twig
          -->
          <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/layout/region.html.twig' -->
          <div class="region region-content">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'block' -->
            <!-- FILE NAME SUGGESTIONS:
               * block--hometrail-content.html.twig
               * block--system-main-block.html.twig
               * block--system.html.twig
               x block.html.twig
            -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/block.html.twig' -->
            <div id="block-hometrail-content" class="block block-system block-system-main-block">


              <div class="content">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'node' -->
                <!-- FILE NAME SUGGESTIONS:
                   * node--49--full.html.twig
                   * node--49.html.twig
                   * node--page--full.html.twig
                   * node--page.html.twig
                   * node--full.html.twig
                   x node.html.twig
                -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/node.html.twig' -->

                <article data-history-node-id="49" data-quickedit-entity-id="node/49" role="article"
                         class="contextual-region node node--type-page node--view-mode-full clearfix" about="/dashboard"
                         typeof="schema:WebPage" data-quickedit-entity-instance-id="0">
                  <header>

                    <div data-contextual-id="node:node=49:changed=1592822056&amp;langcode=en"
                         data-contextual-token="x9on-W9NJlrLFiqvObBVdWJAoc1btw-BBF5AW0jmKk0" class="contextual">
                      <button class="trigger visually-hidden focusable" type="button" aria-pressed="false">Open
                        configuration options
                      </button>

                      <!-- THEME DEBUG -->
                      <!-- THEME HOOK: 'links__contextual' -->
                      <!-- FILE NAME SUGGESTIONS:
                         * links--contextual.html.twig
                         x links.html.twig
                      -->
                      <!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->
                      <ul class="contextual-links" hidden="">
                        <li class="entitynodeedit-form"><a href="/node/49/edit?destination=/node/49">Edit</a></li>
                        <li class="entitynodedelete-form"><a href="/node/49/delete?destination=/node/49">Delete</a></li>
                      </ul>
                      <!-- END OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->

                    </div>

                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'rdf_metadata' -->
                    <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/misc/rdf-metadata.html.twig' -->
                    <span property="schema:name" content="Dashboard" class="rdf-meta hidden"></span>

                    <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/misc/rdf-metadata.html.twig' -->


                  </header>
                  <div class="node__content clearfix">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'links__node' -->
                    <!-- FILE NAME SUGGESTIONS:
                       x links--node.html.twig
                       x links--node.html.twig
                       * links.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content/links--node.html.twig' -->

                    <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content/links--node.html.twig' -->


                  </div>
                </article>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/node.html.twig' -->


              </div>
            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/block.html.twig' -->


          </div>

          <!-- END OUTPUT from 'themes/custom/hometrail/templates/layout/region.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-one-form" data-drupal-selector="day-one-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-one-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day1-walk-distance,edit-day1-image-upload,edit-day1-image-upload-button,edit-submit--4">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day1-walk-distance form-item-day1-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day1-walk-distance" class="js-form-required form-required">Day 1 | 6 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day1-walk-distance" type="number" id="edit-day1-walk-distance"
                     name="day1_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day1-image form-item-day1-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day1-image-upload" id="edit-day1-image--label" class="js-form-required form-required">Upload
                  Day 1</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day1-image-upload" type="file" id="edit-day1-image-upload"
                           name="files[day1_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day1-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day1-image-upload-button" name="day1_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day1-image-fids" type="hidden" name="day1_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-i1aydstxi3r2n1isfsnwb63l-cpr2-azsxmwtequohu"
                   type="hidden" name="form_build_id" value="form-I1aYDsTXi3R2N1ISfSnwB63l-Cpr2_azSxmWTEqUohU">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-one-form-form-token" type="hidden" name="form_token"
                   value="UnAfjTr4niT0UbPUNk-FBrYl8UDw-8XXL91ORB4qqCY">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-one-form" type="hidden" name="form_id" value="day_one_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--5">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--4" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-two-form" data-drupal-selector="day-two-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-two-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day2-walk-distance,edit-day2-image-upload,edit-day2-image-upload-button,edit-submit--5">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day2-walk-distance form-item-day2-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day2-walk-distance" class="js-form-required form-required">Day 2 | 7 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day2-walk-distance" type="number" id="edit-day2-walk-distance"
                     name="day2_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--2">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day2-image form-item-day2-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day2-image-upload" id="edit-day2-image--label" class="js-form-required form-required">Upload
                  Day 2</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day2-image-upload" type="file" id="edit-day2-image-upload"
                           name="files[day2_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day2-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day2-image-upload-button" name="day2_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day2-image-fids" type="hidden" name="day2_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-32bd28vtgvex1jumrb7c3pl-kbh-us0ob6myenr1ypi"
                   type="hidden" name="form_build_id" value="form-32BD28vtgVeX1JuMrB7c3Pl-KBH_US0oB6MYenr1YpI">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-two-form-form-token" type="hidden" name="form_token"
                   value="KrjkbnKlf6ooykco6zROBgNx_167Y59lsOUegXEqHiU">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-two-form" type="hidden" name="form_id" value="day_two_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--6">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--5" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-three-form" data-drupal-selector="day-three-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-three-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day3-walk-distance,edit-day3-image-upload,edit-day3-image-upload-button,edit-submit--6">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day3-walk-distance form-item-day3-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day3-walk-distance" class="js-form-required form-required">Day 3 | 8 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day3-walk-distance" type="number" id="edit-day3-walk-distance"
                     name="day3_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--3">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day3-image form-item-day3-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day3-image-upload" id="edit-day3-image--label" class="js-form-required form-required">Upload
                  Day 3</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day3-image-upload" type="file" id="edit-day3-image-upload"
                           name="files[day3_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day3-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day3-image-upload-button" name="day3_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day3-image-fids" type="hidden" name="day3_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-kwkhmhucpwkorzfznflfywc3j7bwtcif7whn6bwmbii"
                   type="hidden" name="form_build_id" value="form-KwKHmHucPWKoRZfZnFLFYwc3j7bwTCiF7Whn6BwmbiI">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-three-form-form-token" type="hidden" name="form_token"
                   value="W8PV7uF0W8lru_eE7f2vosyloX04SrHNWmJk7LE7tu0">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-three-form" type="hidden" name="form_id" value="day_three_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--7">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--6" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-four-form" data-drupal-selector="day-four-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-four-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day4-walk-distance,edit-day4-image-upload,edit-day4-image-upload-button,edit-submit--7">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day4-walk-distance form-item-day4-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day4-walk-distance" class="js-form-required form-required">Day 4 | 9 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day4-walk-distance" type="number" id="edit-day4-walk-distance"
                     name="day4_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--4">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day4-image form-item-day4-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day4-image-upload" id="edit-day4-image--label" class="js-form-required form-required">Upload
                  Day 4</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day4-image-upload" type="file" id="edit-day4-image-upload"
                           name="files[day4_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day4-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day4-image-upload-button" name="day4_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day4-image-fids" type="hidden" name="day4_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-nbocwszvaauylcfyfvl7jlqt1q6anumlw0whu2xu7li"
                   type="hidden" name="form_build_id" value="form-nBOCWszvAauYLcfYfVl7jLQT1q6ANUMlW0WhU2XU7LI">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-four-form-form-token" type="hidden" name="form_token"
                   value="81Ztz5wc2bpjJzs5zaLeq_BYfFZPeoGgwVIklE_hh8I">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-four-form" type="hidden" name="form_id" value="day_four_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--8">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--7" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-five-form" data-drupal-selector="day-five-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-five-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day5-walk-distance,edit-day5-image-upload,edit-day5-image-upload-button,edit-submit--8">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day5-walk-distance form-item-day5-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day5-walk-distance" class="js-form-required form-required">Day 5 | 10 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day5-walk-distance" type="number" id="edit-day5-walk-distance"
                     name="day5_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--5">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day5-image form-item-day5-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day5-image-upload" id="edit-day5-image--label" class="js-form-required form-required">Upload
                  Day 4</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day5-image-upload" type="file" id="edit-day5-image-upload"
                           name="files[day5_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day5-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day5-image-upload-button" name="day5_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day5-image-fids" type="hidden" name="day5_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-9bltqudv2y8v8qrtrizr92xkp-xyflkqmugppidqtt0"
                   type="hidden" name="form_build_id" value="form-9bltqUdV2Y8v8qrtRiZR92XKp-XyFLkQMuGPPidQTT0">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-five-form-form-token" type="hidden" name="form_token"
                   value="dEReFj6HlPZ5lO4ExHTMoOVEcbMMpJv8KBBn-ZmDoVU">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-five-form" type="hidden" name="form_id" value="day_five_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--9">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--8" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-six-form" data-drupal-selector="day-six-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-six-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day6-walk-distance,edit-day6-image-upload,edit-day6-image-upload-button,edit-submit--9">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day6-walk-distance form-item-day6-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day6-walk-distance" class="js-form-required form-required">Day 6 | 11 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day6-walk-distance" type="number" id="edit-day6-walk-distance"
                     name="day6_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--6">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day6-image form-item-day6-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day6-image-upload" id="edit-day6-image--label" class="js-form-required form-required">Upload
                  Day 6</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day6-image-upload" type="file" id="edit-day6-image-upload"
                           name="files[day6_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day6-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day6-image-upload-button" name="day6_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day6-image-fids" type="hidden" name="day6_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-nmvip65icpq9moca1-nhk9gfnuwgc1x2566rmepw0fo"
                   type="hidden" name="form_build_id" value="form-nmvIp65iCpQ9mOCa1_nhk9gFnuWgC1x2566RMePw0fo">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-six-form-form-token" type="hidden" name="form_token"
                   value="cd1cgW_hyzNbJw6NDN-UZDH-sI9kPibrrD8Rj-vkBIw">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-six-form" type="hidden" name="form_id" value="day_six_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--10">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--9" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-seven-form" data-drupal-selector="day-seven-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-seven-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day7-walk-distance,edit-day7-image-upload,edit-day7-image-upload-button,edit-submit--10">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day7-walk-distance form-item-day7-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day7-walk-distance" class="js-form-required form-required">Day 7 | 12 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day7-walk-distance" type="number" id="edit-day7-walk-distance"
                     name="day7_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--7">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day7-image form-item-day7-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day7-image-upload" id="edit-day7-image--label" class="js-form-required form-required">Upload
                  Day 7</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day7-image-upload" type="file" id="edit-day7-image-upload"
                           name="files[day7_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day7-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day7-image-upload-button" name="day7_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day7-image-fids" type="hidden" name="day7_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-vvrf5-qx6iuzk8ar-vs-qb6o5ggo2ho4dhew40bpod8"
                   type="hidden" name="form_build_id" value="form-VVrF5_qX6IUZk8AR_VS_qB6o5ggo2HO4dHEw40bpOD8">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-seven-form-form-token" type="hidden" name="form_token"
                   value="SNffPI1dUfUFS_fut6owz_FCKG7ru-On_gGSs7vSMTc">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-seven-form" type="hidden" name="form_id" value="day_seven_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--11">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--10" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-eight-form" data-drupal-selector="day-eight-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-eight-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day8-walk-distance,edit-day8-image-upload,edit-day8-image-upload-button,edit-submit--11">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day8-walk-distance form-item-day8-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day8-walk-distance" class="js-form-required form-required">Day 8 | 13 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day8-walk-distance" type="number" id="edit-day8-walk-distance"
                     name="day8_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--8">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day8-image form-item-day8-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day8-image-upload" id="edit-day8-image--label" class="js-form-required form-required">Upload
                  Day 8</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day8-image-upload" type="file" id="edit-day8-image-upload"
                           name="files[day8_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day8-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day8-image-upload-button" name="day8_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day8-image-fids" type="hidden" name="day8_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-oktgjygapp9lnejqtyhyozv7shje1qgvaf9pywhzx28"
                   type="hidden" name="form_build_id" value="form-OktGJYgAPp9LneJQTYHYozv7sHJe1qgvaF9PYWHzX28">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-eight-form-form-token" type="hidden" name="form_token"
                   value="fC0dCSghwX3tG52MxJjvAHsBbXNoOrYrHv1PQrI3OHw">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-eight-form" type="hidden" name="form_id" value="day_eight_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--12">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--11" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-nine-form" data-drupal-selector="day-nine-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-nine-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day9-walk-distance,edit-day9-image-upload,edit-day9-image-upload-button,edit-submit--12">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day9-walk-distance form-item-day9-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day9-walk-distance" class="js-form-required form-required">Day 9 | 14 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day9-walk-distance" type="number" id="edit-day9-walk-distance"
                     name="day9_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--9">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day9-image form-item-day9-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day9-image-upload" id="edit-day9-image--label" class="js-form-required form-required">Upload
                  Day 9</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day9-image-upload" type="file" id="edit-day9-image-upload"
                           name="files[day9_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day9-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day9-image-upload-button" name="day9_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day9-image-fids" type="hidden" name="day9_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-9y5umtoh9vg3dq3wzrhvb-aahwi9cod1olsvtcwyf-e"
                   type="hidden" name="form_build_id" value="form-9Y5UMtoh9Vg3dQ3WZrHvb_AAhwI9cOd1OlSvtCWYf_E">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-nine-form-form-token" type="hidden" name="form_token"
                   value="1hqCNyx6CNFd-IE3CfD_LIP6URIGVaeSDH0FYvQQmp8">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-nine-form" type="hidden" name="form_id" value="day_nine_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--13">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--12" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->
          <form class="day-ten-form" data-drupal-selector="day-ten-form" enctype="multipart/form-data"
                action="/dashboard" method="post" id="day-ten-form" accept-charset="UTF-8"
                data-drupal-form-fields="edit-day10-walk-distance,edit-day10-image-upload,edit-day10-image-upload-button,edit-submit--13">


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'form_element' -->
            <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
            <div
              class="js-form-item form-item js-form-type-number form-type-number js-form-item-day10-walk-distance form-item-day10-walk-distance">


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element_label' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
              <label for="edit-day10-walk-distance" class="js-form-required form-required">Day 10 | 15 August</label>
              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__number' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--number.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input min="0" data-drupal-selector="edit-day10-walk-distance" type="number" id="edit-day10-walk-distance"
                     name="day10_walk_distance" value="" step="1" class="form-number required" required="required"
                     aria-required="true" placeholder="Enter Kms">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            </div>

            <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            <div id="ajax-wrapper--10">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'form_element' -->
              <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->
              <div
                class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-day10-image form-item-day10-image">


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'form_element_label' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->
                <label for="edit-day10-image-upload" id="edit-day10-image--label"
                       class="js-form-required form-required"> Upload Day 10</label>
                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element-label.html.twig' -->


                <!-- THEME DEBUG -->
                <!-- THEME HOOK: 'image_widget' -->
                <!-- BEGIN OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->
                <div class="image-widget js-form-managed-file form-managed-file clearfix">
                  <div class="image-widget-data">


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__file' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--file.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day10-image-upload" type="file" id="edit-day10-image-upload"
                           name="files[day10_image]" size="22" class="js-form-file form-file">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__submit' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--submit.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input class="js-hide button js-form-submit form-submit"
                           data-drupal-selector="edit-day10-image-upload-button" formnovalidate="formnovalidate"
                           type="submit" id="edit-day10-image-upload-button" name="day10_image_upload_button"
                           value="Upload">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                    <!-- THEME DEBUG -->
                    <!-- THEME HOOK: 'input__hidden' -->
                    <!-- FILE NAME SUGGESTIONS:
                       * input--hidden.html.twig
                       x input.html.twig
                    -->
                    <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
                    <input data-drupal-selector="edit-day10-image-fids" type="hidden" name="day10_image[fids]">

                    <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


                  </div>
                </div>

                <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/content-edit/image-widget.html.twig' -->


              </div>

              <!-- END OUTPUT from 'themes/custom/hometrail/templates/classy/form/form-element.html.twig' -->

            </div>

            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input autocomplete="off" data-drupal-selector="form-gklj5hgbqtuufzkxjx8igzgado5abz9snjmee9toisq"
                   type="hidden" name="form_build_id" value="form-GKLj5HGBqTUufZkxJX8IGzgaDo5aBZ9SNjMeE9toIsQ">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-ten-form-form-token" type="hidden" name="form_token"
                   value="p_fGagz5_Io90HgMM_O2KlGr15CV6tTM2Sgk_AHrqsU">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'input__hidden' -->
            <!-- FILE NAME SUGGESTIONS:
               * input--hidden.html.twig
               x input.html.twig
            -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
            <input data-drupal-selector="edit-day-ten-form" type="hidden" name="form_id" value="day_ten_form">

            <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


            <!-- THEME DEBUG -->
            <!-- THEME HOOK: 'container' -->
            <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                 id="edit-actions--14">

              <!-- THEME DEBUG -->
              <!-- THEME HOOK: 'input__submit' -->
              <!-- FILE NAME SUGGESTIONS:
                 * input--submit.html.twig
                 x input.html.twig
              -->
              <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
              <input data-drupal-selector="edit-submit" type="submit" id="edit-submit--13" name="op" value="Submit"
                     class="button button--primary js-form-submit form-submit">

              <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

            </div>

            <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


          </form>

          <!-- END OUTPUT from 'core/themes/stable/templates/form/form.html.twig' -->


        </section>
      </main>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 footer_left">
          <div class="footer_logo">
            <img src="{{ path('<front>') }}themes/custom/hometrail/images/footer_logo.png">
          </div>

          <div class="add_sec">
            <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
              worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

            <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
          </div>

        </div>

        <div class="col-md-3 quick_link">
          <h2>OXFAM <span>TRAILWALKER</span></h2>
          <ul>
            <li><a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a></li>
            <li><a href="{{ path('<front>') }}rules" target="_blank">Trailwalker Rules</a></li>
            <li><a href="{{ path('<front>') }}term-of-use" target="_blank">Terms &amp; Conditions</a></li>
            <li><a href="{{ path('<front>') }}faq" target="_blank">FAQs</a></li>

          </ul>
        </div>


        <div class="col-md-4 footer_right">
          <h2>Connect <span>With us</span></h2>
          <ul>
            <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></li>
            <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i
                  class="fab fa-twitter"></i></a></li>
            <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i
                  class="fab fa-instagram"></i></a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><i
                  class="fab fa-linkedin"></i></a></li>
            <li class="youtube"><a href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b"
                                   target="_blank"><i class="fab fa-youtube"></i></a></li>
          </ul>

          <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>
        </div>
      </div>


    </div>

  </footer>
</div>
