{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<div class="welcome_msg">
<div class="prfl_sec">
<a href="{{ url('<front>') }}user/{{user.id}}/edit" class="edit"><i class="fas fa-pencil-alt"></i></a>
  {% if content.user_picture %}
    {{ content.user_picture }}
  {% endif %}
</div>
  <h2>Hey, {{ content.field_first_name }} {{ content.field_last_name }}!</h2>
  <p>It's great to have you. Let's get set and ready to walk!</p>
</div>

{% if logged_in %}
  <div class="caption successfully daily-activity-node" {{ attributes }}>
    <div class="tour_buttons">
      <a href="{{ url('<front>') }}user/logout" class="donate_btn"><span><i class="fas fa-key"></i></span> Log-out</a>
    </div>
  </div>
{% endif %}
