{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="row add-screenshot-sec">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% set photo = '' %}
   {% set loop_count = 0 %}
  {% for row in rows %}
    {# {{- row.content -}} #}
    {% set pass_date = event_start_date|date_modify("+" ~ loop_count~ "day")|date("d-M-Y") %}
    {% set title = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ title }}'] %}
    {% set slider_desktop_img = file_url(row['content']['#row']._entity.field_distance_screenshot.entity.fileuri) %} 
     
    {% set dist = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_distance }}'] %}
    {% set edit_link = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ edit_node }}'] %}
     {% set success_data = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ webform_submission_value_1 }}'] %}
    <div class="col-lg-3 col-6">
      <div class="cardbx">
      {{ pass_date }}
        <p><strong>{{ title }}</strong></p>
        <div class="imgbx"><img src="{{ slider_desktop_img }}" alt="{{ title }}" class="img-fluid"></div>
        <h3>{{ dist }}</h3>
        {% if success_data != 'Success' %}
        <div class="edit-btn"><a href="{{ edit_link }}"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></div>
        {% endif %}
      </div>
    </div>
    {% set photo = row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ webform_submission_value_1 }}'] %}
     {% set loop_count = loop_count+1 %}
  {% endfor %}
  {% if ((rows | length < 10) and (photo == '')) %}
    {% set start_date = event_start_date %} {# static date pass event start date #}
    {% set counter = 0 %}
    {% for box in range(0, 10-rows | length-1) %}
      {% set inc = rows | length+counter %}
      {% set box_date = start_date|date_modify("+" ~ inc~ "day")|date("d-M-Y") %}
      {% set activeDate = box_date | date('U') %}
      {% set nowDate = "now" | date("U") %}
      {% if loop.first and (activeDate<nowDate) %}
        <div class="col-lg-3 col-6">
        <a href="{{ url('<front>') }}add/activity?title=Day {{ rows | length+1+box }} – Update your activity">
          <div class="cardbx add-img-sec">
            <h6> {{ box_date}}</h6>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            <h6>Add Day {{ rows | length+1+box }} <br> Screenshot</h6>
            
          </div></a>
        </div>
        {% else %}
        <div class="col-lg-3 col-6">
        <a href="javascript:void(0);">
          <div class="cardbx add-img-sec disable">
             <h6> {{ box_date }}</h6>
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <h6>Add Day {{ rows | length+1+box }} <br> Screenshot</h6>
              
          </div></a>
        </div>
      {% endif %}
      {% set counter = counter+1 %}
    {% endfor %}
  {% endif %}
</div>
