<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6 header_logo"><a href="{{ path('<front>') }}"><img
            src="{{ path('<front>') }}{{ directory }}/images/logo.png"></a>
      </div>
      <div class="col-md-6 col-xs-6 center stir"><h2>let’s stir things up!</h2></div>
      <div class="col-md-3 col-xs-6 goes_vtw_logo"><img src="{{ path('<front>') }}{{ directory }}/images/right_logo.png"></div>
    </div>
  </div>
</header>

<div style="display:none">
  {{ page.header }}
</div>

<div class="slider_par bg_part successful">
  <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ path('<front>') }}{{ directory }}/images/big-slide.jpg" class="d-block w-100" alt="">
          <div class="caption" style="top: 24%;">
            <h1>Registration Successful</h1>
            <span class="white_part">
          <h2>You're in! Check Your Mail</h2>
          <p>Please do check your spam/ junk folders if you can’t locate the email</p>
          <p>Thank you for joining this movement of people against poverty! You can <a href="https://www.oxfamindia.org/crowd-fund" target="_blank">start a fundraiser</a> to continue supporting Oxfam India.</p>
          </span>
            <div class="clearfix"></div>
           <div class="tour_buttons">
{% if logged_in %}
        <a href="https://www.oxfamindia.org/crowd-fund" target="_blank" class="donate_btn" ><span><i class="fas fa-user"></i></span>Fundraiser</a>
         <a href="/user/logout" class="donate_btn"><span><i class="fas fa-key"></i></span> Log-out</a>
         <a href="/dashboard" class="donate_btn"><span><i class="fas fa-key"></i></span> Dashboard</a>
        {% else %}
        <a href="https://www.oxfamindia.org/crowd-fund" target="_blank" class="donate_btn" ><span><i class="fas fa-user"></i></span> Start Fundraiser</a>
         <a href="/user/register" class="donate_btn" ><span><i class="fas fa-user"></i></span> register</a>
          <a href="#donate_form" class="donate_btn" data-toggle="modal" data-target="#login-form"><span><i class="fas fa-key"></i></span> Log-in</a>
        {% endif %}

</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <!--footer col one-->
      <div class="col-md-5 footer_left">
        <div class="footer_logo">
          <img src="{{ path('<front>') }}{{ directory }}/images/footer_logo.png">
        </div>
        <div class="act_sec">
          <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
            worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

          <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
          <p class="tax-exemption"><strong>Tax Exemption Number:</strong> DIT(E)/12A/2007-08/O/1764</p>
        </div>
      </div>
      <!--footer col two-->
      <div class="col-md-3 main_link">
        <h2>OXFAM <span>TRAILWALKER</span></h2>
        <ul>
          <li><a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a></li>
          <li><a href="{{ path('<front>') }}rules">Trailwalker Rules</a></li>
          <li><a href="{{ path('<front>') }}term-of-use">Terms &amp; Conditions</a></li>
          <li><a href="{{ path('<front>') }}help">Help</a></li>
        </ul>
      </div>
      <!--footer col Three-->
      <div class="col-md-4 social_links">
        <h2>Connect <span>With us</span></h2>
        <ul>
          <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i
                class="fab fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i
                class="fab fa-twitter"></i></a></li>
          <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i
                class="fab fa-instagram"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/"
                                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li class="youtube"><a
              href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b"
              target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>
		<!--Offer Conversion: Virtual Walk Netcore -->
<img src="https://netcore.g2afse.com/success.jpg?offer_id=95685&afid={afid}&afprice={afprice}&afstatus=1" height="1" width="1" alt="" />
<!-- End Offer Conversion -->

      </div>
    </div>
  </div>
</footer>
