<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ path('<front>') }}{{ directory }}/new-design/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="{{ path('<front>') }}{{ directory }}/new-design/oxfam-font.css">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<header>

<!-- start navigation --> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="#"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/logo.png"></a>



<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav">
<li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
<li class="nav-item"><a class="nav-link " href="#stories">Stories of change</a></li>
<li class="nav-item"><a class="nav-link " href="#support">Support Now</a></li>
<li class="nav-item"><a class="nav-link " href="#relief">Covid-19 Relief</a></li>
<li class="nav-item"><a class="nav-link " href="#faq">FAQs</a></li>
</ul>
</div>

<div class="hashtag"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/mnemonic-green.png"></div>

</div>
</nav>

<!-- end navigation -->
</header>
<!-- end header -->


<div id="home" class="hash"></div>
<!-- Slider part -->
<div class="main_slider">
<div class="container">

<div class="login_signin">
  <ul>

{% if not logged_in %}
<li><a href="{{ path('user.register') }}{{ corporate }}"> register</a></li>

<li><a href="{{ path('<front>') }}user/login" class="use-ajax login-popup-form" data-dialog-type="modal">Log in</a></li>
{% else %}

<li><a href="{{ url('<front>') }}user"><span>Dashboard</a></li>

<li><a href="{{ url('<front>') }}user/logout" data-dialog-type="modal">Logout</a></li>          
{% endif %}
  </ul>
</div>




<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider1.png" class="d-block w-100 des_slide" alt="">

      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider1-mob.jpg" class="d-block w-100 mob_slide" alt="">

      <div class="caption">
        <h2>Millions of Indians are denied basic rights because of their caste, religion, class  and gender.</h2>
        <h1>Walk in their shoes to know what discrimination feels like</h1>
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider2.jpg" class="d-block w-100 des_slide" alt="">

      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider2-mob.jpg" class="d-block w-100 mob_slide" alt="">

      <div class="caption">
         <h2>Their daily struggles were made worse by the pandemic with no work, access to healthcare or education.</h2>
        <h1>Walk in their shoes to know what it was to lose it all</h1>
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider3.jpg" class="d-block w-100 des_slide" alt="">

      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider3-mob.jpg" class="d-block w-100 mob_slide" alt="">

      <div class="caption">
        <h2>All fought through tough circumstances and many emerged from the worst. </h2>
         <h1>What made a difference was the support from you.</h1>
        
      </div>
    </div>


    <div class="carousel-item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider4.jpg" class="d-block w-100 des_slide" alt="">

      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/slider4-mob.jpg" class="d-block w-100 mob_slide" alt="">

      <div class="caption">
         <h2>When you walk in their shoes, you walk FOR them. When you walk for them, you walk to End Discrimination. </h2>
        <h1>Millions of Indians ask, <strong>“Will you #WalkInMyShoes ?”</strong></h1> 
      </div>
    </div>



  <div class="slider_arrow">  
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </div>

</div>


</div>
</div>
<!-- Form end -->

</div>
<!-- Slider part end -->



<section class="main_head_text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

<div class="main-title"><h3>#WalkINMySHOES to celebrate the power of empathy, endurance and empowerment</h3></div>
<div class="main-title"><h2>Oxfam Trailwalker Virtual-Challenge is BACK!</h2></div> 

      </div>
    </div>
  </div>

<div class="box-grid-row row">
  <div class="col-md-4 box-grid">
    <div class="image_box">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/box-bg1.jpg">
    </div>
    <div class="grid_details">
    <h4>Walk for 100/50/25km</h4>
    <h5>Over 10 days  </h5>
    <h5>Anywhere, anytime</h5>
    </div>
  </div>

  <div class="col-md-4 box-grid center_box">
    <div class="image_box">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/box-bg2.jpg">
    </div>
    <div class="grid_details">
    <h4>Choose your slot</h4>
    <h5>17–26 September 2021 OR</h5>
    <h5>01–10 October 2021</h5>
  </div>
  
  </div>

  <div class="col-md-4 box-grid">
    <div class="image_box">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/box-bg3.jpg">
    </div>
    <div class="grid_details">
    <h4>Joining contribution</h4>
    <h5>INR 1000 <span>(Indian Nationals)</span></h5>
    <h5>USD 100  <span>(Foreign Nationals)</span></h5>
    </div>
</div>

</div>

</section>


<div id="about" class="hash"></div>
<section class="join_part">
  <div class="container">
    <div class="main-title center"><h2>Why #walkinmyshoes?</h2></div>
    <div class="main-title center"><h3>Every Step You Take, Someone Takes A Step Closer To A Discrimination-Free Life!</h3></div>

  

  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12 vd-sec">
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/b3JmbYSg0gc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">

      <p>It’s been a rough year with unprecedented loss and suffering. With a collapsed public healthcare system and tangible inequality, the most marginalised sections of our society had nowhere to go.</p>

      <p>You have an opportunity to show commitment towards ending discrimination and supporting Oxfam India’s on-groundwork to rebuild lives.</p>

      <p class="bold_txt">All you have to do is just WALK! Your place, your time, quite literally.</p>

      <p>Day or night, home or park, on the stairs or on the terrace. Just choose how much you want to walk and the dates. Keep walking to end discrimination!</p>

    </div>
  </div>
  </div>
</section>


<section class="why_sec">
  <div class="container">
    <div class="main-title center"><h2>Virtual is a new and exciting format</h2></div>
    <div class="main-title center"><h3>Join in and let the fun begin!</h3></div>


    <div class="row">
      <div class="col-md-4 join_box first">
        <div class="icon_circle"><i class="fas fa-chart-bar"></i></div>
        <h4>DASHBOARD</h4>
        <p>It's easy - you get your own personal 
dashboard for updating progress
</p>
      </div>

      <div class="col-md-4 join_box second">
        <div class="icon_circle"><i class="far fa-smile-beam"></i></div>
        <h4>SATISFACTION</h4>
        <p>Remember, you are a part of change. Your walk is changing lives!</p>
      </div>

      <div class="col-md-4 join_box third">
        <div class="icon_circle"><i class="fas fa-award"></i></div>
        <h4>E-CERTIFICATE</h4>
        <p>All participants will receive an <br>e-certificate for participation/completion</p>
      </div>



    </div>

  </div>
</section>

<section class="how_work">
  <div class="container">
    <div class="main-title center"><h2>how does this work?</h2></div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">


      <div class="col-md-3 how_box">
        <div class="how_circle">
          <h4>1</h4>
          <p>Register &amp;<br> create your<br> profile</p>
        </div>
        <p>Register yourself by making a joining contribution</p>
      </div>

      <div class="col-md-3 how_box">
        <div class="how_circle">
          <h4>2</h4>
          <p>download<br> any tracker<br> app</p>
        </div>
      <p>Download any tracker app that shows distance walked in a particular day</p>  
      </div>

      <div class="col-md-3 how_box">
        <div class="how_circle">
          <h4>3</h4>
          <p>Walk<br> and <br>have fun!</p>
        </div>
        <p>Walk 100km/50km/25km over 10 days and keep a track of your daily distances</p>  
      </div>

      <div class="col-md-3 how_box">
        <div class="how_circle">
          <h4>4</h4>
          <p>Upload<br> Progress on <br>Dashboard</p>
        </div>
      <p>Upload screenshots of progress on your personal event dashboard</p>
      </div>

    
    </div>
      </div>
    
    </div>
    
  </div>
</section>


<div id="stories" class="hash"></div>
<section class="change_stories">
<div class="container">

   <div class="main-title center"><h2>Your last walk made a difference</h2></div>
   <div class="main-title center"><h3>You changed lives and how Your support made them real Changemakers</h3></div>

<div class="owl-carousel owl-theme">

  <div class="item">
       
       <div class="story_img">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/story2.jpg">

      <div class="story_des">
         <h2>Malti & A Thriving Mushroom Cultivation</h2>
         <p>Malti Devi belongs to the Musahar community in flood-prone Sitamarhi district in Bihar. Since she and many like her are landless agriculture labourers, they received no compensation post-floods for loss of livelihood. Oxfam India trained them to vermicompost and grow mushrooms in a corner of their house. Malti and many like her are selling mushrooms to restaurants and local markets. More power to them!</p>
       </div>
    </div>

    </div>


    <div class="item">
       
       <div class="story_img">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/story3.jpg">

      <div class="story_des">
         <h2>No Child Left Behind</h2>
         <p>No access to internet, smartphone or electricity meant no virtual classes for tribal children in Noto Gram Panchayat in Odisha’s Mayurbhanj district. Youth volunteers, working with Oxfam India, stepped up to bridge this digital divide. They started classes in the open following all COVID-appropriate protocols to ensure no child drops out. And not just classes, children from the Ho community have fun with extra-curricular activities too.</p>
       </div>
    </div>

    </div>



    <div class="item">
       
       <div class="story_img">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/story1.jpg">

      <div class="story_des">
         <h2>Community Says ‘No’ To Child Marriage</h2>
         <p>Menu Patra, secretary of the Gond Samaj in Kalahandi, was a regular at Oxfam India meetings in his village. He began to understand gender biases and problems of child marriages; the latter was almost the norm among the Gond tribes. During the annual meeting of the Samaj, he brought up the issue of ending child marriage in their society. After deliberations, a resolution was passed that was applicable to 100 villages in 5 panchayats. Inspired by Menu Patra, the Kondh tribes and the Goud community too want to end child marriage. An inspiration indeed! </p>
       </div>
    </div>

    </div>

    
    
  
</div>
  
</div>  
</div>
</section>


<div id="support" class="hash"></div>
<section class="start_now">
  <div class="container">


      <div class="crowd_sec">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/crowdfund.png" class="crowd_img">
        <div class="main-title"><h3>Can’t walk this time but want to create a difference in someone’s life?</h3></div>
    <div class="main-title"><h2>Start now!</h2></div>

    <div class="donate_btn_part">
      <ul>
        <li><a href="https://www.oxfamindia.org/donate/trailwalker" target="_blank">MAKE A DONATION</a></li>
        <li><a href="https://www.oxfamindia.org/crowd-fund" target="_blank">Start a fundraiser</a></li>
      </ul>
    </div>
      </div>
 

    
  </div>
</section>


<div id="relief" class="hash"></div>
<section class="mission">
  <div class="container">


  <div class="main-title"><h3>Through this unprecedented crisis, Oxfam India has been on the ground!</h3></div>

    <div class="row">
      <div class="col-md-12 center">
        <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/mission-heading.jpg" class="mb_25">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/mission-left.jpg"></div>
      <div class="col-md-6"><img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/mission-right.jpg"></div>
    </div>
  </div>
</section>


<div id="faq" class="hash"></div>
<section class="faq_sec">
  <div class="container">
  <div class="main-title"><h3>FAQs - VIRTUAL OXFAM TRAILWALKER</h3></div>
    <div class="row">
      <div class="col-md-7">
       <div class="faq_shadow">

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">VTW REGISTRATION</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">VTW POST-REGISTRATION</a>
    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">DONATIONS</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="accordion" id="Registration">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationOne" aria-expanded="false" aria-controls="registrationOne">
          1.  Where can I join from?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>

    <div id="registrationOne" class="collapse" aria-labelledby="headingOne" data-parent="#Registration" style="">
      <div class="card-body">
        <p>From any part of the world — join in, walk/run at any time of the day, and on any surface (trail, road, treadmill, your backyard, literally anywhere), and support Oxfam India.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationTwo" aria-expanded="false" aria-controls="registrationTwo">
          2.  What is the joining contribution?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Registration">
      <div class="card-body">
        <p>Joining contribution is INR 1000 (Indian Nationals) and USD 100 (Foreign Nationals). This contribution is treated as donation towards Oxfam India. Optionally, you can start a <a href="https://www.oxfamindia.org/crowd-fund" target="_blank">fundraiser</a> to support our work.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationThree" aria-expanded="false" aria-controls="registrationThree">
          3.  What's the event format?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationThree" class="collapse" aria-labelledby="headingThree" data-parent="#Registration">
      <div class="card-body">
        <p>Choose from two available formats — 100km, 50km or 25km in 10 days.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationFour" aria-expanded="false" aria-controls="registrationFour">
          4.  When is the event scheduled?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationFour" class="collapse" aria-labelledby="collapseFour" data-parent="#Registration">
      <div class="card-body">
        <p>The current edition of the event is scheduled from 17th - 26th September 2021 and 1st - 10th October 2021.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationFive" aria-expanded="false" aria-controls="registrationFive">
          5.  Can I register for both the slots?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationFive" class="collapse" aria-labelledby="registrationFive" data-parent="#Registration">
      <div class="card-body">
        <p>Yes, you can. Choose 'Both' under the challenge slot dropdown while registering, and you're on double duty!</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationSix" aria-expanded="false" aria-controls="registrationSix">
          6.  Can I change my event format/ slot after registration?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationSix" class="collapse" aria-labelledby="registrationSix" data-parent="#Registration">
      <div class="card-body">
        <p>No, once you register, you cannot change the slot or format.</p>


      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationSeven" aria-expanded="false" aria-controls="registrationSeven">
          7.  Is there an age limit to participate in the event?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationSeven" class="collapse" aria-labelledby="registrationSeven" data-parent="#Registration">
      <div class="card-body">
        <p>No age limit — anyone, absolutely anyone, who has passion for fitness and resonates with Oxfam India’s work, can participate!</p>

        <p>In case you are 60+, we advise you to consult a medical expert given the nature of event.
For minors (above 10 years only) participating in the challenge, we strongly advise adult/parental supervision.
</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationEight" aria-expanded="false" aria-controls="registrationEight">
          8.  My registration failed, what shall I do?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationEight" class="collapse" aria-labelledby="registrationEight" data-parent="#Registration">
      <div class="card-body">
        <p>Please contact us at: <a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a>.</p>
      </div>
    </div>
  </div>

</div>
  </div>
<!-- End Registration Tab -->


  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="accordion" id="Post">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postOne" aria-expanded="false" aria-controls="postOne">
          1.  I forgot my login password, what should I do?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>

    <div id="postOne" class="collapse" aria-labelledby="headingOne" data-parent="#Post">
      <div class="card-body">
        <p>Click on the ‘forgot password’ option to receive a password resent link on your registered email ID.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postTwo" aria-expanded="false" aria-controls="postTwo">
          2. I logged in but can’t locate my dashboard. Why?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Post">
      <div class="card-body">
        <p>Your dashboard is activated on Day 1 of your chosen challenge slot. You will not be able to access it before that. </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postThree" aria-expanded="false" aria-controls="postThree">
          3. How do I submit my activity?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postThree" class="collapse" aria-labelledby="headingThree" data-parent="#Post">
      <div class="card-body">
        <p>After registering successfully, upload activity on your personal dashboard.</p>
        <ul>
          <li>Log in to your account</li>
          <li>You will reach the dashboard </li>
          <li>Here, enter the kilometres walked</li>
          <li>Upload the screenshot (one screenshot per day - single image or collage)</li>
          <li>Submit Activity</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postFour" aria-expanded="false" aria-controls="postFour">
          4. What mobile apps shall I use for submitting proof of my activity?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postFour" class="collapse" aria-labelledby="postFour" data-parent="#Post">
      <div class="card-body">
        <p>Screenshots from all major fitness applications are acceptable. Some recommendations –  Adidas Running, Apple Watch, FitBit, Garmin Connect, Google Fit, Nike Run Club, Pumatrac, Strava, Runkeeper, Map My Walk by Under Armour, or others.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postFive" aria-expanded="false" aria-controls="postFive">
          5. Where can I check my total distance walked, and distance left to complete?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postFive" class="collapse" aria-labelledby="postFive" data-parent="#Post">
      <div class="card-body">
        <p>You will receive a progress email on your registered email ID every time you update your activity/progress data on the dashboard.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postSix" aria-expanded="false" aria-controls="postSix">
         6.  Why I am not receiving any emails?
         <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postSix" class="collapse" aria-labelledby="postSix" data-parent="#Post">
      <div class="card-body">
        <p>Please check your spam/junk folders. If you still don’t locate emails, get in touch with us.</p>


      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postSeven" aria-expanded="false" aria-controls="postSeven">
          7. Can I upload the activity data for multiple days in one go?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postSeven" class="collapse" aria-labelledby="postSeven" data-parent="#Post">
      <div class="card-body">
        <p>We recommend sharing updates on a daily basis so that we can maintain your progress. However, this is completely up to you. But do update all progress on/before the closing date of your chosen challenge slot.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postEight" aria-expanded="false" aria-controls="postEight">
          8. I walk/run twice a day, can I upload two or more screenshots for a single day?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postEight" class="collapse" aria-labelledby="postEight" data-parent="#Post">
      <div class="card-body">
        <p>The dashboard will have provision for one screenshot at a time. So, in case you need to update your distance at a later time during a given day, update the distance and re-upload the new screenshot.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postNine" aria-expanded="false" aria-controls="postNine">
          9. Can I edit or delete the screenshots after uploading?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postNine" class="collapse" aria-labelledby="postNine" data-parent="#Post">
      <div class="card-body">
        <p>Yes. You can edit, in case you make an incorrect entry.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postTen" aria-expanded="false" aria-controls="postTen">
          10.  Should I update the activity details with decimal points, as per the tracking app?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postTen" class="collapse" aria-labelledby="postTen" data-parent="#Post">
      <div class="card-body">
        <p>Yes. The dashboard will accept decimal values (up to two decimals).</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postEleven" aria-expanded="false" aria-controls="postEleven">
          11.  How will you ensure no one is cheating?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postEleven" class="collapse" aria-labelledby="postEleven" data-parent="#Post">
      <div class="card-body">
        <p>There are multiple ways one can cheat during a virtual challenge. But when they do,
they cheat themselves more than the organisers or other participants. The Virtual Oxfam Trailwalker is a non-competitive event, everyone is here for a cause, everyone is a winner.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postTwelve" aria-expanded="false" aria-controls="postTwelve">
          12.  Will I receive a certificate on event completion?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postTwelve" class="collapse" aria-labelledby="postTwelve" data-parent="#Post">
      <div class="card-body">
        <p>Yes. On completion of the event you will receive a completion or participation E-certificate.
</p>
      </div>
    </div>
  </div>

</div>
  </div>

<!-- End Post Registration Tab -->

  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="accordion" id="Donation">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationOne" aria-expanded="false" aria-controls="donationOne">
          1.  I can’t participate in the challenge right now, can I still donate?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>

    <div id="donationOne" class="collapse" aria-labelledby="headingOne" data-parent="#Donation">
      <div class="card-body">
        <p>Yes! Your support is crucial, and if you cannot participate in the challenge and still want to donate, do it here: <a href="https://www.oxfamindia.org/donate/trailwalker" target="_blank">Donate</a>. Regardless of your participation, you can also support us by starting a <a href="https://www.oxfamindia.org/crowd-fund" target="_blank">Fundraiser</a>. Do it now!</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationTwo" aria-expanded="false" aria-controls="donationTwo">
          2.  Do I receive 80G certificate/Tax exemption?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Donation">
      <div class="card-body">
        <p>For Indian Nationals, a receipt will be sent to you within 7 working days after the transaction is successful or cheque is realised. The certificate will be e-mailed to you on your registered email ID provided at the time of making the contribution/donation. Be sure to double-check your email ID for spelling errors before clicking the submit button while making a donation.</p>

        <p>For Foreign National participants, a payment receipt will be provided against the donation amount.</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationFour" aria-expanded="false" aria-controls="donationFour">
          3.  Is the payment process secure?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationFour" class="collapse" aria-labelledby="headingThree" data-parent="#Donation">
      <div class="card-body">
        <p>Yes, your information is completely secure. Once you have submitted the information, the data is securely transferred to our payment service provider and the payment is processed securely. We will not use any financial information that you have provided here for anything other than processing your donation.</p>

        <p><strong>REGISTER NOW, LET’S ROLL.</strong><br>
We’re waiting!
<br>
Still got questions? <a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a>
</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationFour" aria-expanded="false" aria-controls="donationFour">
          4.  I am a foreign national living in India, what payment options do I have while making online donations?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationFour" class="collapse" aria-labelledby="headingFour" data-parent="#Donation">
      <div class="card-body">
        <p>We accept all Domestic/International Visa/Master/Amex Credit and Debit cards, in addition to Indian banks’ NetBanking option.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationFive" aria-expanded="false" aria-controls="donationFive">
          5.  I am an NRI holding a valid Indian Passport, can I make a donation using my International Credit/Debit (Visa/Master/Amex) card?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationFive" class="collapse" aria-labelledby="headingFive" data-parent="#Donation">
      <div class="card-body">
        <p>Yes, you can.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationSix" aria-expanded="false" aria-controls="donationSix">
          6.  I am a foreign national living in India, can I make a donation using wallet (Paytm/UPI/Google pay etc)?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationSix" class="collapse" aria-labelledby="headingSix" data-parent="#Donation">
      <div class="card-body">
        <p>Unfortunately, we do not accept donations via wallet at the moment.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationSeven" aria-expanded="false" aria-controls="donationSeven">
          7.  I am a foreign national living in India, I want to donate using NetBanking option from my international bank account.
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#Donation">
      <div class="card-body">
        <p>Unfortunately, we do not have a tie-up with international banks to accept donations via NetBanking. However, you can still make a donation if you have an account with any Indian bank and chose to donate using the NetBanking option available in your Indian bank account.</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationEight" aria-expanded="false" aria-controls="donationEight">
          8.  Amount is deducted from my bank account, but I have received a donation failure message/email from your end. Who should I get in touch with?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationEight" class="collapse" aria-labelledby="headingEight" data-parent="#Donation">
      <div class="card-body">
        <p>This usually happens when there is a weak internet connection. If the amount has already been deducted from your bank account, be assured that we would have received your donation or it will be rolled back to your account within 48 hours. In case you still don't get any intimation from our end or your bank, please do write to us at friendsofoxfam@oxfamindia.org.</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingNine">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationNine" aria-expanded="false" aria-controls="donationNine">
          9.  While making the donation, I got a "time out" error. What does it mean? Do I need to re-initiate donation?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationNine" class="collapse" aria-labelledby="headingNine" data-parent="#Donation">
      <div class="card-body">
        <p>This happens when the permissible duration of entering card credentials is over. Every bank has its own permissible time duration to complete payments. Please retry donating and ensure you are completing the transaction within the stipulated timeline which usually is 30 seconds or more.</p>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingTen">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationTen" aria-expanded="false" aria-controls="donationTen">
          10.  Do I need to add my PAN Card details?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationTen" class="collapse" aria-labelledby="headingTen" data-parent="#Donation">
      <div class="card-body">
        <p>PAN number is mandatory for all donations. This is to help us meet our statutory reporting requirements and to issue 80 G certificate for tax exemption. In case of minor participation (above 10 years only), it is necessary to provide parent/guardian's PAN card number. </p>
      </div>
    </div>
  </div>




</div>
  </div>
</div>

</div>






      </div>
      <div class="col-md-5 faq_right">
        <iframe width="100%" height="260" src="https://www.youtube.com/embed/6PHG7LnUACg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      

      </div>
    </div>
  </div>
</section>


<div id="testimonial" class="hash"></div>
<section class="testimonial_sec">
<div class="container">

<div id="testimonial_slider" class="owl-carousel owl-theme">
    <div class="item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/vikram.jpg">

      <div class="testimonial_text">
         <p>We must look for ways to help those in need and this year, we encouraged our employees to find motivation in a fitness challenge that took care of more than just their own well-being.</p>

         <div class="personal_details">
           <strong>Vikram Uttamsingh</strong><br>
India Country Head, Alvarez and Marsal

         </div>
       </div>

    </div>



    <div class="item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/atul.jpg">

      <div class="testimonial_text">
         <p>In an ideal world, we would not need to see so much inequality right before our eyes. Those of us who can, must do something. I am glad Oxfam gave our team the opportunity.</p>

         <div class="personal_details">
           <strong>Atul Shinghal</strong><br>
CEO and Founder, Scripbox

         </div>
       </div>

    </div>

    <div class="item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/paul.jpg">

      <div class="testimonial_text">
         <p>To be successful at what you do is admirable, but it’s equally important to give back to the society, to help others around you move forward. Oxfam gave us this incredible opportunity.</p>

         <div class="personal_details">
           <strong>Paul Dupuis</strong><br>
Chairman CEO Randstad Japan 

         </div>
       </div>

    </div>


    <div class="item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/mrunal.jpg">

      <div class="testimonial_text">
         <p>Oxfam Trailwalker challenge is particularly meaningful to me. No matter how much we progress, we still face discrimination, and I am looking forward to smashing stigmas and bringing about a positive change.</p>

         <div class="personal_details">
           <strong>Mrunal Inamdar</strong><br>
           Proud Trailwalker

         </div>
       </div>

    </div>


    <div class="item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/ramesh.jpg">

      <div class="testimonial_text">
         <p>For me, a fitness challenge is about self-assessment and there is no bigger high than this 'can do' feeling! Fundraising and walking for a cause made it all the more satisfying. Oxfam challenges have now become a family affair for us! </p>

         <div class="personal_details">
           <strong>Ramesh Chandra</strong><br>
           Proud Trailwalker

         </div>
       </div>

    </div>


    <div class="item">
      <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/Aaruush.jpg">

      <div class="testimonial_text">
         <p>I took part in the Oxfam Trailwalker challenge to inspire other kids during this difficult time when we are all forced to live, play and study in a constrained environment due to the pandemic.</p>

         <div class="personal_details">
           <strong>Aaruush Dusad</strong><br>
           Proud Trailwalker

         </div>
       </div>

    </div>
    
  
</div>
  
</div>  
</div>
</section>



<footer>
  <div class="container">
    <div class="row">
      <!--footer col one-->
      <div class="col-md-5 footer_left">
        <div class="footer_logo">
          <img src="https://oxfamuploads.s3.ap-south-1.amazonaws.com/oxfamdata/ravi/vtw-new-design/images/footer_logo.png">
        </div>
        <div class="act_sec">
          <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
            worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

          <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
          <p class="tax-exemption"><strong>Tax Exemption Number:</strong> DIT(E)/12A/2007-08/O/1764</p>
        </div>
      </div>
      <!--footer col two-->
      <div class="col-md-3 main_link">
        <h2>OXFAM <span>TRAILWALKER</span></h2>
        <ul>
          <li><a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a></li>
          <li><a href="/rules">Trailwalker Rules</a></li>
          <li><a href="/term-of-use">Terms &amp; Conditions</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
      </div>
      <!--footer col Three-->
      <div class="col-md-4 social_links">
        <h2>Connect <span>With us</span></h2>
        <ul>
          <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li class="youtube"><a href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>

      </div>
    </div>
  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="{{ path('<front>') }}{{ directory }}/new-design/owl.carousel.min.js"></script>




<script type="text/javascript">
$('#carouselExampleInterval').carousel({
  interval: false,
});

 $('#testimonial_slider').owlCarousel({
    loop:true,
    autoplay:true,
    nav:false,
    dots:true,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:3
        }
    }
})

$('.owl-carousel').owlCarousel({
    loop:true,
    autoplay:true,
    nav:true,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
}) 



//Smooth scrolling script:
   $(function() {
  $('.navbar-nav li > a').click(function() {
    $(".dropdown").removeClass("open");
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
}); // end

   $('.navbar-nav>li>a').on('click', function(){
    $('.navbar-collapse').collapse('hide');
});



$headerHeight = $("header").height();
    $("body").css("padding-top", $headerHeight);
    $(".hash").css("margin-top", -$headerHeight);
    
    $(window).scroll(function() {
      $headerHeight = $("header").height();
      
      if($(window).scrollTop() > 250) {
        $("body").css("padding-top", $headerHeight);
        $(".hash").css("margin-top", -$headerHeight);
      }else{
        $("body").css("padding-top", $headerHeight);
        $(".hash").css("margin-top", -$headerHeight);
        } 
  });


$(".nav-link").on("click", function(){
      $(".navbar").find(".active").removeClass("active");
      $(this).parent().addClass("active");
    });
</script>


<link rel="stylesheet" type="text/css" href="{{ path('<front>') }}{{ directory }}/new-design/style.css">