<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 header_logo"><a href="{{ path('<front>') }}"><img src="{{ path('<front>') }}{{ directory }}/images/logo.png"></a>
      </div>
      <div class="col-md-6 center stir"><h2>let’s stir things up!</h2></div>
      <div class="col-md-3 goes_vtw_logo"><img src="{{ path('<front>') }}{{ directory }}/images/right_logo.png"></div>
    </div>
  </div>
</header>
<main>
  <div class="container">
    {% if page.header %}
    <div class="message">
      {{ page.header }}
    </div>
    {% endif %}
    {{ page.content }}
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 footer_left">
        <div class="footer_logo">
          <img src="{{ path('<front>') }}{{ directory }}/images/footer_logo.png">
        </div>
        <div class="act_sec">
          <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
            worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

          <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
        </div>
      </div>
      <!--footer col two-->
      <div class="col-md-3 main_link">
        <h2>OXFAM <span>TRAILWALKER</span></h2>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="{{ path('<front>') }}rules">Trailwalker Rules</a></li>
          <li><a href="{{ path('<front>') }}term-of-use">Terms &amp; Conditions</a></li>
          <li><a href="{{ path('<front>') }}faq">FAQs</a></li>
        </ul>
      </div>
      <!--footer col Three-->
      <div class="col-md-4 social_links">
        <h2>Connect <span>With us</span></h2>
        <ul>
          <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i
                class="fab fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i
                class="fab fa-twitter"></i></a></li>
          <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i
                class="fab fa-instagram"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/"
                                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li class="youtube"><a
              href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b"
              target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
