<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 header_logo"><a href="{{ path('<front>') }}"><img
            src="{{ path('<front>') }}{{ directory }}/images/logo.png"></a>
      </div>
      <div class="col-md-6 center stir"><h2>let’s stir things up!</h2></div>
      <div class="col-md-3 goes_vtw_logo"><img src="{{ path('<front>') }}{{ directory }}/images/right_logo.png"></div>
    </div>
  </div>
</header>
<main style="padding-top: 120px;padding-bottom: 42px;">
  <div class="header_whitebox">
    <h1>Oxfam Trailwalker Virtual 100k/50k Rules</h1>
    <ul>
      <li><strong>1</strong> All Participants must register through the challenge website and create a valid account.</li>
      <li><strong>2</strong> Participants choose the challenge format (100km in 10 days or 50km in 10 days) at the time of registraion - this cannot be altered later.</li>
      <li><strong>3</strong> Participants choose their challenge date at the time of registering - this cannot be altered later.</li>
      <li><strong>4</strong> Participants must provide recorded proof of the distance walked. This will be done in the form of screenshots*.</li>
      <li><strong>5</strong> All screenshots must be uploaded on/before the closing date of the challenge.</li>
    </ul>

    <span>*Screenshots from all major fitness apps are acceptable. Here are some: Addias Running, Garmin Connect, Nike Run Club, Pumatrac, Strava, Runkeeper, Map My Run and Map My Walk by Under Armour</span>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <!--footer col one-->
      <div class="col-md-5 footer_left">
        <div class="footer_logo">
          <img src="{{ path('<front>') }}{{ directory }}/images/footer_logo.png">
        </div>
        <div class="act_sec">
          <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
            worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

          <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
        </div>
      </div>
      <!--footer col two-->
      <div class="col-md-3 main_link">
        <h2>OXFAM <span>TRAILWALKER</span></h2>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="{{ path('<front>') }}rules">Trailwalker Rules</a></li>
          <li><a href="{{ path('<front>') }}term-of-use">Terms &amp; Conditions</a></li>
          <li><a href="{{ path('<front>') }}faq">FAQs</a></li>
        </ul>
      </div>
      <!--footer col Three-->
      <div class="col-md-4 social_links">
        <h2>Connect <span>With us</span></h2>
        <ul>
          <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i
                class="fab fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i
                class="fab fa-twitter"></i></a></li>
          <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i
                class="fab fa-instagram"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/"
                                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li class="youtube"><a
              href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b"
              target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
