<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6 header_logo"><a href="{{ path('<front>') }}"><img
            src="{{ path('<front>') }}{{ directory }}/images/logo.png"></a>
      </div>
      <div class="col-md-6 col-xs-6 center stir"><h2>WALK FOR HER</h2></div>
      <div class="col-md-3 col-xs-6 goes_vtw_logo"><img src="{{ path('<front>') }}{{ directory }}/images/right_logo.png"></div>
    </div>
  </div>
</header>
<div class="video_header">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://virtualtrailwalker.oxfamindia.org/themes/custom/hometrail/common/Website.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        {{ page.header }}

        {% if corporatename %}
          <div class="corporate">{{corporatename}}</div>
        {% endif %}

        {% if not logged_in %}
          <a href="{{ path('user.register') }}{{ corporate }}" class="donate_btn"><span><i class="fas fa-user"></i></span> register</a>
          <a href="{{ path('<front>') }}user/login" class="use-ajax login-popup-form" data-dialog-type="modal"><span><i class="fas fa-key"></i></span>Log in</a>
        {% else %}
          <a href="{{ url('<front>') }}user" class="donate_btn"><span><i class="fas fa-user"></i></span>Dashboard</a>
          <!--<a href="{{ url('<front>') }}user" class="donate_btn" data-dialog-type="modal"><span><i class="fas fa-key"></i></span>{{ currentusername }}</a>-->
          <a href="{{ url('<front>') }}user/logout" class="donate_btn" data-dialog-type="modal"><span><i class="fas fa-key"></i></span>Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<section class="main_head_text">
  <div class="container">

  <div class="row">
  <div class="col-md-8 texthead_left">
        <h2>Are you up for the <br>ultimate virtual challenge?</h2>
        <h3>10 days of resistance, endurance and empowerment!</h3>
        <div class="slot_date">Sign up for 100km, 50km or 25km</div>
        
      </div>

  <div class="col-md-4 texthead_right">
<div class="register_for">
        <h3>choose <br>your slot</h3>
        <div class="slot_date">25th Feb - 6th Mar 2021 <br>or 8th Mar - 17th Mar 2021</div>
        </div>
  </div>


    
    </div>
  </div>
</section>


<section class="exciting">
  <div class="container">
    <div class="row">
    <div class="col-md-6 grey_box">
      <h2>Time to walk for HER!</h2>
      <p>Every woman is remarkable. This Women’s Day walk to celebrate her grit, her determination, and her fighting spirit with Oxfam Trailwalker-virtual challenge!</p>

      <p>The pandemic has been tougher for women across the country. Whether it was the burden of unpaid care work and office, evading domestic violence, or walking for thousands of miles during the lockdown, women faced a tough 2020.  </p>

      <p>We, at Oxfam India, are working to create awareness around the issues faced by women in their everyday lives while celebrating women who broke barriers of deep-rooted discrimination. Walk in solidarity with all the women who embraced their struggles beautifully. Walk for women who need our support to make a difference in their lives. Let's walk for HER!</p>

<p>All you need to do is to select your date for the WALK! </p>
    </div>

    <div class="col-md-6 green_box">
      <div class="owl-carousel owl-theme story_slider">
    <div class="item">
      <img src="{{ path('<front>') }}{{ directory }}/images/story01.jpg">
      <h3>After the Sal leaf plate machine was set up, the community is happy to sell their handmade plates to the local women collective</h3>
      <p>Oxfam India set up 14 Sal leaf plate machines in Godda, Jharkhand. One of the villages, Kusmaha, was provided with a hand-pressed plate making machines. Operations at this unit began in October 2020 by the Gulanjbaha Mahila Mandal, a women's collective. It is outstanding that the unit here is being operated by other women from the village besides the 15 members of the collective</p>
    </div>
    
    <div class="item">
      <img src="{{ path('<front>') }}{{ directory }}/images/story02.jpg">
      <h3>Though a small amount, Rs 5000, helped Gitanjali restart her business</h3>
      <p>Gitanjali Kandi ran a small petty shop near the Sun Temple at Konark but had to shut it down due to the lockdown. Oxfam India provided cash of Rs 5000 to the most marginalised families as part of its COVID response. Gitanjali used this cash to restart her business, albeit slightly modified. Since the temple was shut, she started selling packed, fried groundnut to other small shops in villages and houses in the temple's vicinity.</p>
    </div>

    <div class="item">
      <img src="{{ path('<front>') }}{{ directory }}/images/story03.jpg">
      <h3>Now both men and women farmers come to me for advice on seed selection, the variety and the company</h3>
      <p>When Manju Devi was married off at a very young age, she had given up on her dream of becoming a teacher. But things changed for her the day Oxfam India and SEWA Bharat came to Mudheri village in Bihar’s Munger district. On this day, in 2016, began her journey of becoming a farmer and eventually the president of a Farmers Producer Company.</p>
    </div>
</div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
        <div class="rules_box">
        <h2>With a year full of rules, Oxfam Trailwalker brings you FREEDOM!</h2>
        <p>You have got to walk. That's it! You decide the surface and place - be it the trail, the road, your kitchen, or the balcony, literally anywhere! Walk at a stretch or in intervals — total accumulated daily distance counts, even your trip to the bathroom, no kidding!</p>
      </div>
    </div>
  </div>
</section>


<section class="how_work">
  <div class="container">
    <h3>how does this work?</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="row">


      <div class="col-md-6 how_box">
        <div class="how_circle">
          <h4>1</h4>
          <p>Register &<br> create your<br> profile</p>
        </div>
        <p>Register yourself by making a joining contribution of INR 1000</p>
      </div>

      <div class="col-md-6 how_box">
        <div class="how_circle">
          <h4>2</h4>
          <p>download<br> any tracker<br> app</p>
        </div>
      <p>Download any tracker app that shows distance walked in a particular day</p>  
      </div>

      <div class="col-md-6 how_box">
        <div class="how_circle">
          <h4>3</h4>
          <p>Walk<br> and <br>have fun!</p>
        </div>
        <p>Walk 100km/50km/25km over 10 days and keep a track of your daily distances</p>  
      </div>

      <div class="col-md-6 how_box">
        <div class="how_circle">
          <h4>4</h4>
          <p>Upload<br> Progress on <br>Dashboard</p>
        </div>
      <p>Upload screenshots of progress on your personal event dashboard</p>
      </div>

    
    </div>
      </div>
      <div class="col-md-6">
        <div class="video_sec">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6PHG7LnUACg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
<div class="faq_head">
<h2><a href="#faq_part" class="faq_btn">Visit the FAQs section for any more queries.</a></h2>
</div>
      </div>
    </div>
    
  </div>
</section>

<section class="mission">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Why Join?</h3>
        <p>Virtual is a new exciting format, for us and for you. Join in, have fun and support Oxfam India.</p>

      </div>
      
    </div>

    <div class="row">
      <div class="col-md-4 join_box first">
        <div class="icon_circle"><i class="fas fa-chart-bar"></i></div>
        <h4>DASHBOARD</h4>
        <p>We make it easy for you - you get your own personal dashboard for updating progress</p>
      </div>

      <div class="col-md-4 join_box second">
        <div class="icon_circle"><i class="far fa-smile-beam"></i></div>
        <h4>SATISFACTION</h4>
        <p>Remember, you are a part of change. Your walk is changing lives!</p>
      </div>

      <div class="col-md-4 join_box third">
        <div class="icon_circle"><i class="fas fa-award"></i></div>
        <h4>E-CERTIFICATE</h4>
        <p>All participants will receive an <br>e-certificate for participation/completion</p>
      </div>



    </div>
  </div>
</section>


<section class="migrant">
  <div class="container">
    <div class="row">
    <div class="col-md-6 right_part">
      <h2>Equality is Empowerment</h2>
      <p>When the pandemic hit the world, were we prepared to deal with the challenges? No, we were not.</p>

      <p>We saw a rise in domestic violence cases, child marriages, school/college dropouts and unequal care work and unequal wages. But SHE never gave up. SHE kept fighting.</p>

      <p>The fight for a just and an equal India has been long and challenging. The pandemic made it tougher. </p>

      <p>We stand with the women who never give up. We stand against discrimination. We stand for change.</p>

      <h2><strong>Do you?</strong></h2>
      <h3>We count on your support -</h3> 
      <p>Contribute by making a one-time donation or how about starting your own fundraiser?</p>
      <a href="#" class="donate_btn">MAKE A DONATION </a> <a href="#" class="donate_btn">START YOUR OWN FUNDRAISER</a>
    </div></div>
  </div>
</section>




<section class="faq_sec">
<div class="hash" id="faq_part"></div>
  <div class="container">
<h3>FREQUENTLY ASKED QUESTIONS</h3>    
    <div class="faq_shadow">   
    
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Registration</a>
    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Post-registration</a>
    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Donation</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="accordion" id="Registration">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#registrationOne" aria-expanded="true" aria-controls="registrationOne">
          1.  Where can I join from?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>

    <div id="registrationOne" class="collapse show" aria-labelledby="headingOne" data-parent="#Registration">
      <div class="card-body">
        <p>From any part of the world — join in, walk/run at any time of the day, and on any surface (trail, road, treadmill, your backyard, literally anywhere), and support Oxfam India.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationTwo" aria-expanded="false" aria-controls="registrationTwo">
          2.  What is the joining contribution?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Registration">
      <div class="card-body">
        <p>Joining contribution is INR 1000 and is treated as donation towards Oxfam India. Optionally, you can start a <a href="https://www.oxfamindia.org/crowd-fund" target="_blank">fundraiser</a> to support our work.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationThree" aria-expanded="false" aria-controls="registrationThree">
          3.  What’s the event format?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationThree" class="collapse" aria-labelledby="headingThree" data-parent="#Registration">
      <div class="card-body">
        <p>Choose from two available formats — 100km in 10 days or 50km in 10 days.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationFour" aria-expanded="false" aria-controls="registrationFour">
          4.  When is the event scheduled?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationFour" class="collapse" aria-labelledby="collapseFour" data-parent="#Registration">
      <div class="card-body">
        <p>Choose from the updated slots listed on the website. Want to register for more than one slot at a time? Get in touch: syed@oxfamindia.org / 8884088821</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationFive" aria-expanded="false" aria-controls="registrationFive">
          5.  Can I change my event format/ slot after registration?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationFive" class="collapse" aria-labelledby="registrationFive" data-parent="#Registration">
      <div class="card-body">
        <p>No, once you register, you cannot change the slot or format.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationSix" aria-expanded="false" aria-controls="registrationSix">
          6.  Is there an age limit to participate in the event?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationSix" class="collapse" aria-labelledby="registrationSix" data-parent="#Registration">
      <div class="card-body">
        <p>No age limit — anyone, absolutely anyone, who has passion for fitness and resonates with Oxfam India’s work, can participate!</p>

        <p>In case you are 60+, we advise you to consult a medical expert given the nature of event. 
For minors participating in the challenge, we strongly advise adult/parental supervision.
</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#registrationSeven" aria-expanded="false" aria-controls="registrationSeven">
          7.  My registration failed, what shall I do? 
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="registrationSeven" class="collapse" aria-labelledby="registrationSeven" data-parent="#Registration">
      <div class="card-body">
        <p>Please contact us at:  <a href="mailto:syed@oxfamindia.org">syed@oxfamindia.org</a> / <a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a> / <a href="tel:8884088821">8884088821</a>.</p>
      </div>
    </div>
  </div>

</div>
  </div>
<!-- End Registration Tab -->


  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  <div class="accordion" id="Post">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#postOne" aria-expanded="true" aria-controls="postOne">
          1.  I forgot my login password, what should I do?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>

    <div id="postOne" class="collapse show" aria-labelledby="headingOne" data-parent="#Post">
      <div class="card-body">
        <p>Click on the 'forgot password' option to receive a password resent link on your registered email ID.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postTwo" aria-expanded="false" aria-controls="postTwo">
          2.  I logged in but can’t locate my dashboard. Why?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Post">
      <div class="card-body">
        <p>Your dashboard is activated on Day 1 of your chosen challenge slot. You will not be able to access it before that. </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postThree" aria-expanded="false" aria-controls="postThree">
          3. How do I submit my activity?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postThree" class="collapse" aria-labelledby="headingThree" data-parent="#Post">
      <div class="card-body">
        <p>After registering successfully, upload activity on your personal dashboard.</p>
        <ul>
          <li>Log in to your account</li>
          <li>You will reach the dashboard </li>
          <li>Here, enter the kilometres walked</li>
          <li>Upload the screenshot (one screenshot per day)</li>
          <li>Submit Activity</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postFour" aria-expanded="false" aria-controls="postFour">
          4. What mobile apps shall I use for submitting proof of my activity?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postFour" class="collapse" aria-labelledby="postFour" data-parent="#Post">
      <div class="card-body">
        <p>Screenshots from all major fitness applications are acceptable. Some recommendations –  ADIDAS RUNNING, APPLE WATCH, FITBIT, GARMIN CONNECT, GOOGLE FIT, NIKE RUN CLUB, PUMATRAC, STRAVA, RUNKEEPER, MAP MY WALK and MAP MY RUN by UNDER ARMOUR, or others.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postFive" aria-expanded="false" aria-controls="postFive">
          5. Where can I check my total distance walked, and distance left to complet5
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postFive" class="collapse" aria-labelledby="postFive" data-parent="#Post">
      <div class="card-body">
        <p>You will receive a progress email on your registered email ID every time you update your activity/ progress data on the dashboard.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postSix" aria-expanded="false" aria-controls="postSix">
         6.  Why I am not receiving any emails?
         <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postSix" class="collapse" aria-labelledby="postSix" data-parent="#Post">
      <div class="card-body">
        <p>Please check your spam/ junk folders. If you still don’t locate emails, get in touch with us.</p>

      
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postSeven" aria-expanded="false" aria-controls="postSeven">
          7. Can I upload the activity data for multiple days in one go? 
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="postSeven" class="collapse" aria-labelledby="postSeven" data-parent="#Post">
      <div class="card-body">
        <p>We recommend sharing updates on a daily basis so that we can maintain your progress. However, this is completely up to you. But do update all progress on/before the closing date of your chosen challenge slot.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postEight" aria-expanded="false" aria-controls="postEight">
          8. I walk/run two times a day, can I upload two screenshots for a single day?
          <i class="fa fa-chevron-down pull-right"></i>  
        </button>
      </h2>
    </div>
    <div id="postEight" class="collapse" aria-labelledby="postEight" data-parent="#Post">
      <div class="card-body">
        <p>You can upload only one screenshot per day. Upload cumulative distance or make a collage of multiple readings and upload as proof.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postNine" aria-expanded="false" aria-controls="postNine">
          9.  Can I edit or delete the screenshots after uploading?
          <i class="fa fa-chevron-down pull-right"></i> 
        </button>
      </h2>
    </div>
    <div id="postNine" class="collapse" aria-labelledby="postNine" data-parent="#Post">
      <div class="card-body">
        <p>No. Once the activity/ progress screenshot is uploaded, it cannot be changed or deleted. So please ensure you are filling up the correct details, and uploading the right screenshot.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postTen" aria-expanded="false" aria-controls="postTen">
          10.  Should I update the activity details with decimal points, as per the tracking app?
          <i class="fa fa-chevron-down pull-right"></i> 
        </button>
      </h2>
    </div>
    <div id="postTen" class="collapse" aria-labelledby="postTen" data-parent="#Post">
      <div class="card-body">
        <p>No. Please round-off the number as per the mathematical rule, for instance: 5.66 KM = 6 KM and 5.44 KM = 5 KM.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postEleven" aria-expanded="false" aria-controls="postEleven">
          11.  How will you ensure no one is cheating?
          <i class="fa fa-chevron-down pull-right"></i> 
        </button>
      </h2>
    </div>
    <div id="postEleven" class="collapse" aria-labelledby="postEleven" data-parent="#Post">
      <div class="card-body">
        <p>There are multiple ways one can cheat during a virtual challenge. But when they do,
they cheat themselves more than the organisers or other participants. The Virtual Oxfam Trailwalker is a non-competitive event, everyone is a winner.
</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#postTwelve" aria-expanded="false" aria-controls="postTwelve">
          12.  Will I receive a certificate on event completion?
          <i class="fa fa-chevron-down pull-right"></i> 
        </button>
      </h2>
    </div>
    <div id="postTwelve" class="collapse" aria-labelledby="postTwelve" data-parent="#Post">
      <div class="card-body">
        <p>Yes. On completion of the event you will receive a completion or participation E-certificate.
</p>
      </div>
    </div>
  </div>

</div>
  </div>

<!-- End Post Registration Tab -->

  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="accordion" id="Donation">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#donationOne" aria-expanded="true" aria-controls="donationOne">
          1.  I can’t participate in the challenge right now, can I still donate?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>

    <div id="donationOne" class="collapse show" aria-labelledby="headingOne" data-parent="#Donation">
      <div class="card-body">
        <p>Yes! Your support is crucial, and if you cannot participate in the challenge and still want to donate, do it here: <a href="https://www.oxfamindia.org/donate" target="_blank">Donate</a>. Regardless of your participation, you can also support us by starting a <a href="https://www.oxfamindia.org/crowd-fund" target="_blank">Fundraiser</a>. Do it now!</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationTwo" aria-expanded="false" aria-controls="donationTwo">
          2.  Do I receive 80G certificate/Tax exemption
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#Donation">
      <div class="card-body">
        <p>Yes. A receipt will be sent to you within 7 working days after the transaction is successful or cheque is realised. The certificate will be e-mailed to you on your registered email ID provided at the time of making the contribution/donation. Be sure to double-check your email ID for spelling errors before clicking the submit button while making a donation.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#donationThree" aria-expanded="false" aria-controls="donationThree">
          3.  Is the payment process secure?
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
      </h2>
    </div>
    <div id="donationThree" class="collapse" aria-labelledby="headingThree" data-parent="#Donation">
      <div class="card-body">
        <p>Yes, your information is completely secure. Once you have submitted the information, the data is securely transferred to our payment service provider and the payment is processed securely. We will not use any financial information that you have provided here for anything other than processing your donation.</p>
      </div>
    </div>
  </div>

</div>
  </div>
</div>

</div>
  </div>
</section>


<footer>
  <div class="container">
    <div class="row">
      <!--footer col one-->
      <div class="col-md-5 footer_left">
        <div class="footer_logo">
          <img src="{{ path('<front>') }}{{ directory }}/images/footer_logo.png">
        </div>
        <div class="act_sec">
          <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
            worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

          <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
          <p class="tax-exemption"><strong>Tax Exemption Number:</strong> DIT(E)/12A/2007-08/O/1764</p>
        </div>
      </div>
      <!--footer col two-->
      <div class="col-md-3 main_link">
        <h2>OXFAM <span>TRAILWALKER</span></h2>
        <ul>
          <li><a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a></li>
          <li><a href="{{ path('<front>') }}rules">Trailwalker Rules</a></li>
          <li><a href="{{ path('<front>') }}term-of-use">Terms &amp; Conditions</a></li>
          <li><a href="{{ path('<front>') }}help">Help</a></li>
        </ul>
      </div>
      <!--footer col Three-->
      <div class="col-md-4 social_links">
        <h2>Connect <span>With us</span></h2>
        <ul>
          <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i
                class="fab fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i
                class="fab fa-twitter"></i></a></li>
          <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i
                class="fab fa-instagram"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/"
                                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li class="youtube"><a
              href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b"
              target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>

      </div>
    </div>
  </div>
</footer>


{% if(page.primary_menu) %}
  <div style="display: none">
    {{ page.primary_menu }}
  </div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ path('<front>') }}{{ directory }}/css/owl.carousel.min.css">
<script src="{{ path('<front>') }}{{ directory }}/js/owl.carousel.min.js"></script>

<script>
//Smooth scrolling script:
   $(function() {
  $('.faq_btn').click(function() {
    $(".dropdown").removeClass("open");
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
}); // end

$('.owl-carousel').owlCarousel({
    loop:true,
    autoplay:true,
    margin:0,
    dots:true,
    stagePadding:0,
    nav:false,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
</script>

