<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6 header_logo"><a href="{{ path('<front>') }}"><img
            src="{{ path('<front>') }}{{ directory }}/images/logo.png"></a>
      </div>
      <div class="col-md-6 col-xs-6 center stir"><h2>WALK FOR HER</h2></div>
      <div class="col-md-3 col-xs-6 goes_vtw_logo"><img src="{{ path('<front>') }}{{ directory }}/images/right_logo.png"></div>
    </div>
  </div>
</header>

<div style="display:none">
  {{ page.header }}
</div>

<div class="slider_par bg_part">
  <div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ path('<front>') }}{{ directory }}/images/big-slide.jpg" class="d-block w-100" alt="">
          <div class="caption" style="top: 24%;">
            <h1>Payment Failure</h1>
            <div class="white_part" style="padding:10px;border-radius: 4px;">
              <p>Oops! Something didn’t work quite right — the payment wasn’t made.</p>
              <p>Worry not, click <a href="{{ submissionurl }}" style="min-width:auto;background: no-repeat;color: #33AFFF;font-size: 16px;text-transform: none;padding: 0;margin: 0;;">here</a> and retry again after sometime..</p>
              <p>If payment has been deducted from your account, write to us: trailwalker@oxfamindiamail.org</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <!--footer col one-->
      <div class="col-md-5 footer_left">
        <div class="footer_logo">
          <img src="{{ path('<front>') }}{{ directory }}/images/footer_logo.png">
        </div>
        <div class="act_sec">
          <p>Oxfam Trailwalker is a global initiative by Oxfam, being organised in 17 locations in 9 countries
            worldwide. Oxfam Trailwalker India is a property of Oxfam India. </p>

          <p>Oxfam India is a registered Non-profit under Section 8 of the Indian Companies Act, 2013.</p>
          <p class="tax-exemption"><strong>Tax Exemption Number:</strong> DIT(E)/12A/2007-08/O/1764</p>
        </div>
      </div>
      <!--footer col two-->
      <div class="col-md-3 main_link">
        <h2>OXFAM <span>TRAILWALKER</span></h2>
        <ul>
          <li><a href="mailto:trailwalker@oxfamindiamail.org">trailwalker@oxfamindiamail.org</a></li>
          <li><a href="{{ path('<front>') }}rules">Trailwalker Rules</a></li>
          <li><a href="{{ path('<front>') }}term-of-use">Terms &amp; Conditions</a></li>
          <li><a href="{{ path('<front>') }}help">Help</a></li>
        </ul>
      </div>
      <!--footer col Three-->
      <div class="col-md-4 social_links">
        <h2>Connect <span>With us</span></h2>
        <ul>
          <li class="fb"><a href="https://www.facebook.com/OxfamIndiaTrailwalker" target="_blank"><i
                class="fab fa-facebook-f"></i></a></li>
          <li class="twitter"><a href="https://twitter.com/OxfamIndiaTW" target="_blank"><i
                class="fab fa-twitter"></i></a></li>
          <li class="insta"><a href="https://www.instagram.com/OxfamIndiaTW/" target="_blank"><i
                class="fab fa-instagram"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/company/oxfam-trailwalker-india/"
                                  target="_blank"><i class="fab fa-linkedin"></i></a></li>
          <li class="youtube"><a
              href="https://www.youtube.com/playlist?list=PLvb57eBRQs3ZeRFYLqtCgYEOrLsuWjb-b"
              target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <p>Copyright © 2018 Trailwalker.oxfamindia.org All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
